/*
 * Installation der benötigten Software für Webprogrammierung und Verteilte
 * Systeme im Studiengang Wirtschaftsinformatik an der DHBW Karlsruhe
 *
 * © 2018 Dennis Schulmeister-Zimolong <dhbw@windows3.de>
 * Lizenz: Creative Commons Namensnennung 4.0 International
 *
 * Sie dürfen:
 *
 *     Teilen — das Material in jedwedem Format oder Medium vervielfältigen
 *     und weiterverbreiten
 *
 *     Bearbeiten — das Material remixen, verändern und darauf aufbauen
 *     und zwar für beliebige Zwecke, sogar kommerziell.
 *
 * Unter folgenden Bedingungen:
 *
 *     Namensnennung — Sie müssen angemessene Urheber- und Rechteangaben
 *     machen, einen Link zur Lizenz beifügen und angeben, ob Änderungen
 *     vorgenommen wurden. Diese Angaben dürfen in jeder angemessenen Art
 *     und Weise gemacht werden, allerdings nicht so, dass der Eindruck
 *     entsteht, der Lizenzgeber unterstütze gerade Sie oder Ihre Nutzung
 *     besonders.
 *
 *     Keine weiteren Einschränkungen — Sie dürfen keine zusätzlichen Klauseln
 *     oder technische Verfahren einsetzen, die anderen rechtlich irgendetwas
 *     untersagen, was die Lizenz erlaubt.
 *
 * Es werden keine Garantien gegeben und auch keine Gewähr geleistet.
 * Die Lizenz verschafft Ihnen möglicherweise nicht alle Erlaubnisse,
 * die Sie für die jeweilige Nutzung brauchen. Es können beispielsweise
 * andere Rechte wie Persönlichkeits- und Datenschutzrechte zu beachten
 * sein, die Ihre Nutzung des Materials entsprechend beschränken.
 */

/** Screenshot images, duh! **/
.screenshot {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

@media print {
    .screenshot {
        width: 60%;
        margin: 0 auto;
    }
}

/** Big skip between steps **/
.skip {
    margin-bottom: 2em;
}

/** Filename **/
.fn {
    font-family: 'Roboto Mono', monospace;
    color: darkgreen;
}

/** Command **/
.cmd {
    font-family: 'Roboto Mono', monospace;
    color: darkblue;
}

/** Screen text **/
.scr {
    font-family: 'Roboto Mono', monospace;
    color: darkred;
}

/** Keyboard Command **/
kbd {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(240, 240, 240);
    color: rgb(47, 47, 47);
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
    border: 1px solid black;
}
